/* header {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

nav {
    background-color: #ddd;
    padding: 10px;
    text-align: center;
}

nav a {
    margin:  15px;
    color: black;
    font-size: 25px;
    font-weight: bold;
}

nav a:hover {
    color: blue;
}
.header-right{
    text-align: right;
    gap:20px;
}
.search-box {
    padding: 7px 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    
}
.login-icon img {
    width: 28px;
    height: 28px;
    font-size: medium;
    cursor: pointer;
    filter: brightness(0);
}

.login-icon img:hover {
    filter: brightness(0.3);
} */

header {
    background: #1c3dc2;
    color: white;
    padding: 15px;
    font-size: 24px;
    text-align: center;
    border:#1f9298;
}


nav {
    background: #1f9298;
    color: aliceblue;
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 20px;
}


nav a {
    text-decoration: none;     
    color: white;    
    font-size: 18px;
    font-weight: 500;
    padding: 0px;
}

nav a:hover {
    color: #001aff;      
}


.header-right {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 15px;
}

.search-box {
    padding: 6px;
    font-size: 14px;
}

.login-icon img {
    width: 28px;
    height: 28px;
}
