footer {
  background-color: #007bff; /* same blue color */
  color: white;
  text-align: left;
  padding: 5px 20px; /* smaller padding */
  font-size: 14px; /* smaller text */
  position: fixed;
  bottom: 0;
  width: 100%;
  box-shadow: 0 -2px 5px rgba(0,0,0,0.3); /* optional */
}



.footer-scroll {
    position: absolute;
    white-space: nowrap;
    font-size: 22px;
    font-weight: bold;
    color: black;
    
    /* Animation */
    animation: scrollText 15s linear infinite;
}

@keyframes scrollText {
    0% {
        left: -100%;
    }
    100% {
        left: 100%;
    }
}