footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #0d6efd;    /* Blue color */
  color: white;
  text-align: center;
  padding: 48px 0;
  font-size: 16px;
}


.footer-scroll {
    position: absolute;
    white-space: nowrap;
    font-size: 22px;
    font-weight: bold;
    color: black;
    
    /* Animation */
    animation: scrollText 15s linear infinite;
}

@keyframes scrollText {
    0% {
        left: -100%;
    }
    100% {
        left: 100%;
    }
}