* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 body {
    background-image: url('/images/pexels-olly-1050244.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 600px;        
    display: flex;        
    justify-content: center;
    align-items: flex-end;  
    position: relative;

     }
h1 {
    color: rgb(21, 63, 231);
    text-shadow: 2px 2px 4px #000;
    font-size: 50px;
    margin-bottom: 150px;   
}
/* Search box */
#searchBox {
    padding: 6px 10px;
    font-size: 16px;
    border: 1px solid #aaa;
    border-radius: 5px;
    outline: none;
    text-align: right;
}

/* Login Button */
#loginBtn {
    padding: 8px 18px;
    background-color: royalblue;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    text-align: right;
}

#loginBtn:hover {
    background-color: #1e4bb8;
}

