body {
    font-family: Arial, sans-serif;
    background: #f5f6fa;
    padding: 20px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.bar-chart {
    width: 600px;
    margin: auto;
    background: #fff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}

.bar {
    margin: 12px 0;
}

.bar span {
    display: inline-block;
    width: 100px;
}

.bar .value {
    display: inline-block;
    height: 25px;
    border-radius: 5px;
    background: linear-gradient(90deg, #4A90E2, #357ABD);
}

.b1 { width: 70%; }
.b2 { width: 50%; }
.b3 { width: 90%; }


.pie-chart-box {
    width: 300px;
    height: 300px;
    margin: 40px auto;
    position: relative;
}

.pie-chart {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background:
        conic-gradient(
            #e74c3c 0deg 120deg,
            #3498db 120deg 220deg,
            #2ecc71 220deg 360deg
        );
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}

.pie-legend {
    text-align: center;
    margin-top: 15px;
}

.pie-legend div {
    margin: 5px;
}


.base {
    position: absolute;
    height: 2px;
    width: 500px;
    background: #ddd;
    left: 50px;
    bottom: 40px;
}


.graph-line {
    position: absolute;
    width: 450px;
    height: 200px;
    left: 50px;
    bottom: 40px;
    border-left: 2px solid transparent;
    border-bottom: 2px solid transparent;

    
    background:
        linear-gradient(45deg, transparent 48%, #4A90E2 50%, transparent 52%),
        linear-gradient(120deg, transparent 48%, #4A90E2 50%, transparent 52%),
        linear-gradient(-45deg, transparent 48%, #4A90E2 50%, transparent 52%);
}
.point {
    width: 12px;
    height: 12px;
    background: #4A90E2;
    border-radius: 50%;
    position: absolute;
}

.p1 { left: 20px; bottom: 50px; }
.p2 { left: 140px; bottom: 100px; }
.p3 { left: 260px; bottom: 150px; }
.p4 { left: 380px; bottom: 120px; }