.slider-box {
  position: relative;
  width: 100vw;
  overflow: hidden;
}

.slides {
  display: flex;
  width: 300vw;   /* 3 slides = 300vw */
  transition: transform 0.5s ease;
}

.slide {
  width: 100vw;
  flex-shrink: 0;
}

.slide img {
  width: 100%;
  height: 600px;
  object-fit: cover;
}

/* Arrows */
.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 30px;
  background: rgba(0,0,0,0.5);
  color: #fff;
  padding: 10px;
  cursor: pointer;
  z-index: 10;
}

.arrow.left {
  left: 10px;
}

.arrow.right {
  right: 10px;
}
